<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="fragments/head :: head"/>
</head>

<body>

    <th:block th:include="fragments/nav :: nav"/>

    <div class="container">
      <div class="row">
        <div class="col-md-12" id="splash-logo">
          <img src="../img/splash-trooper.png" class="img-responsive" />
        </div>
      </div>
    </div>

    <div class="container" id="welcome">
      <div class="alert alert-success alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        <strong>Welcome Back:</strong> <span th:inline="text">[[${account.fullName}]]!</span> (Better return to your post)
      </div>
    </div>

    <div class="container" id="three-up-container">

      <div class="row">
        <div class="col-md-4" id="three-up-body">
          <a href="#"><img src="../img/trooper-01.jpg" class="img-responsive" /></a>
          <div class="three-up-text">
            <h2>Our Best Seller!</h2>
            <p>Keep your armor looking new and shiny!</p>
          </div>
        </div>
        <div class="col-md-4" id="three-up-body">
          <a href="#"><img src="../img/trooper-02.jpg" class="img-responsive" /></a>
          <div class="three-up-text">
            <h2>Helmet Decals</h2>
            <p>Spruce up that old helmet with our decals and skins!</p>
          </div>
        </div>
        <div class="col-md-4" id="three-up-body">
          <a href="#"><img src="../img/trooper-03.jpg" class="img-responsive" /></a>
          <div class="three-up-text">
            <h2>Tailored Suits</h2>
            <p>Designed by Palpatine Boss</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4" id="three-up-body">
          <a href="#"><img src="../img/trooper-04.jpg" class="img-responsive" /></a>
          <div class="three-up-text">
            <h2>Targeting Scanners</h2>
            <p>Improve your aim by 11.38%!</p>
          </div>
        </div>
        <div class="col-md-4" id="three-up-body">
          <a href="#"><img src="../img/trooper-05.jpg" class="img-responsive" /></a>
          <div class="three-up-text">
            <h2>Speeder Bike - EVEN SPEEDIER!</h2>
            <p>Upgrade your Standard Issue Speeder Bike</p>
          </div>
        </div>
      </div>

    </div>

    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.min.js"></script>


</body>

</html>
