<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Hello World!</title>
        <th:block th:include="fragments/head :: head"/>
    </head>
    <body>
    <div class="container-fluid">
        <div class="row">
            <div class="box col-md-6 col-md-offset-3">
                <div class="stormpath-header">
                    <img src="https://stormpath.com/images/template/logo-nav.png"/>
                </div>

                <h1 th:inline="text">Hey, [[${firstName}]]</h1>
                <h3 th:utext="${primaryMessage}"></h3>
                <h4 th:utext="${secondaryMessage}"></h4>
                <form th:action="@{/logout}" method="post">
                    <input class="btn btn-danger" type="submit" value="Sign Out"/>
                    <a class="btn btn-success" href="/">Go Home</a>
                </form>
            </div>
        </div>
    </div>

    </body>
</html>