html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Noto Sans', sans-serif;
}

.navbar {
  font-size: 20px;
}

.navbar img {
  padding: 10px;
  max-width: 60px;
}

.navbar li {
  list-style: none;
  color: #FFF;
}

.navbar-inverse {
  background-color: #333;
}

.navbar-inverse .navbar-nav>li>a {
  color: #FFF;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
  color: #D0CECF;
}

a {
  color: #FFF;
  text-decoration: none;
}

a:focus, a:hover {
  color: #D0CECF;
  text-decoration: none;
}

/* Header */
.header {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/intro-bg.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#header-text {
  margin-top: 500px;
  color: #666;
}

#header-text h1 {
  font-size: 80px;
}

#header-text p {
  font-size: 40px;
}

/* Promo Bar */
.promo {
  background-color: #333;
  color: #FFF;
}

.promo .promo-container {
  padding-top: 20px;
}

.promo #promo-text {
  top: 20;
}

.promo #promo-text p {
  font-size: 18px;
}

/* Slider */
.featured {
  margin: 50px 0;
}

.featured #feature-text {
  text-align: center;
  margin-bottom: 50px;
}

.featured h2 {
  font-size: 40px;
}

.featured p {
  font-size: 30px;
}

#splash-logo {
  padding-top: 100px;
}

#welcome {
  padding-top: 100px;
}

#three-up-container {
  margin-bottom: 100px;
}